body {
	margin: 0;
	padding: 0;
}

.banner {
	height: 20em;
	width: 100%;
	background: url("../images/banner.jpg") center top no-repeat;
	background-size: cover;
	margin-bottom: 2em;
}

.logo {
	max-width: 50%;
	margin: 0 auto;
	display: block;
	vertical-align: center;
}

.hero {
	width: 100%;
}

h2.hero-name {
	display: inline;
	vertical-align: middle;
}

.affinities-icon {
	position: absolute;
	top: 0;
	left: 150px;
}

.hero-intro {
	position: relative;
}

footer { 
	background-color: #ccc;
	height: 3em;
	text-align: center;
	padding-top: 2em;
}